:root {
  --background: #f0e7e3;
  --primary-text: #241e31;
  --brown: #783631;
}

* {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

@font-face {
  font-family: "Nunito Light";
  src: url("../../assets/fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  border-bottom: 1px solid var(--primary-text);
}

.nav-link {
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
}

main {
  margin: 20px 20px 30px 20px;
}

.logo-desktop {
  display: none;
}

.title-wrapper {
  position: relative;
}

.back-button {
  position: absolute;
  left: 5px;
  padding: 6px 5px 3px 5px;
  color: var(--primary-text);
}

.back-button svg {
  width: 45px;
  height: 25px;
}

.back-text {
  display: none;
  font-family: "Nunito Regular";
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Nunito Regular";
  color: var(--primary-text);
}

.profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
}

.single-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 15% 0 15%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.socials img {
  width: 30px;
  height: 30px;
  margin: 10px 15px;
}

h2 {
  font-family: "Nunito Regular";
  font-size: 20px;
  text-align: center;
  color: var(--primary-text);
}

h3 {
  font-size: 16px;
  font-family: "Nunito Regular";
  text-align: center;
  color: var(--primary-text);
}

p {
  font-family: "Nunito Light";
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: var(--primary-text);
  text-align: justify;
}

.profile-img {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 540px) {
  .single-profile {
    width: 230px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 28px;
  }
  .single-profile {
    width: 250px;
    margin: 0;
  }

  .profile-wrapper {
    gap: 60px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding-right: 50px;
  }

  .profile-wrapper {
    width: 800px;
    margin: 50px auto;
    gap: 50px;
    padding: 0 50px;
  }

  .single-profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
  }

  .profile-info {
    gap: 15px;
    width: 500px;
    align-items: flex-start;
  }
  .back-button {
    display: flex;
    align-items: center;
    gap: 5px;
    left: 15px;
    text-decoration: none;
  }

  .back-text {
    display: block;
    font-size: 28px;
  }
  .back-text:hover {
    border-bottom: 2px solid var(--primary-text);
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
    text-align: start;
  }

  h3 {
    text-align: start;
    font-size: 20px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }

  .profile-img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .socials img {
    width: 40px;
    height: 40px;
  }

  .socials img:hover {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1440px) {
  nav {
    height: 130px;
  }
  .nav-link {
    font-size: 40px;
  }
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 80px;
  }
  .profile-wrapper {
    width: 950px;
    gap: 65px;
  }

  .single-profile {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
  }

  .profile-info {
    width: 500px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 24px;
    line-height: 33px;
  }

  .profile-img {
    width: 300px;
    height: 350px;
  }
}
